# Handle tabular datasets (xlrd provides Excel support)
xlrd
pandas

#Geodataframes
geopandas

#Plotting
matplotlib
#Required for plotting polygons
descartes
#Richer plotting eg cartograms - requires proj4, easier is to conda install cartopy?
geoplot

#Interactive maps
folium
