# Handle tabular datasets (xlrd provides Excel support)
xlrd
pandas

#Geodataframes
geopandas

#Plotting
matplotlib
#Required for plotting polygons
descartes
#Richer plotting eg cartograms
geoplot

#Interactive maps
folium
