# Handle tabular datasets (xlrd provides Excel support)
xlrd
pandas

#Geodataframes
geopandas

#Plotting
matplotlib
#Required for plotting polygons
descartes

#Interactive maps
folium

#Add scripted forms support
scriptedforms
